<!DOCTYPE html>
<html>
<head>
  <title>Inventario</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if current_user %>
      Usuario: <%= current_user.email %> | <%= link_to 'Salir', logout_path %>
    <% end %>
  </header>
  <%= yield %>

</body>
</html>
